.row{
    padding: 20px;
    color: rgb(3, 185, 131);
    background-color: black;
    align-items: center;
    text-align: center;
}
.contenedor{
    width: auto;
}

h2,h6,p{
    text-align: center;
    color: #91a76e;
}
