.row{
    padding: 20px;
    color:antiquewhite;
}
div{
    background-color: #132d46;
    text-align: center;
}
/*foto personal*/

@media (min-width: 576px){
    #fotopersonal{
        position: absolute;
        width: 14%;
        border-radius: 100%;
        box-shadow: 10px 10px 30px #000000;
        left: 3%;
        top: 450px;
    }
}
@media (max-width: 575px){
    #fotopersonal{
        position: absolute;
        width: 25%;
        border-radius: 100%;
        box-shadow: 10px 10px 30px #000000;
        left: 38%;
        top: 840px;
    }
}

/*etiqueta nombre*/
#nombre{
    font-weight: bold;
    margin-top: 30%;
}