<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Abogacia</h1> - <h3>(años)</h3>
            </li>
            <p> En que se trabajo</p>
        </ul>
        <ul>
            <li>
                <h1>Productor Asesor de Seguros</h1> - <h3>(años)</h3>
            </li>
            <p> En que se trabajo</p>
        </ul>
        <ul>
            <li>
                <h1>Educación Secundaria</h1> - <h3>(años)</h3>
            </li>
            <p> En que se trabajo</p>
        </ul>
    </div>
</div>

